

#scene-section {
    
    
    top: 50%;
    left: 50%;
    margin-right: -50%;
    position: absolute;
    transform: translate(-50%, -50%)
}

.juegoTerminado{
    width: 500px;
    height: 500px;
    z-index: 2;
    visibility: hidden;
}

